# Ty Johnson
# Assignment 3
# Spring 23
# Version 1

In [13]:
example =  ['ty','john','brad','samuel']
example #creating a list to use

['ty', 'john', 'brad', 'samuel']

### append() will add an element to the end of a list

In [14]:
example.append('george')
example

['ty', 'john', 'brad', 'samuel', 'george']

### extend() will add elements of a list to the end of the current list, I am creating a new list and then adding the first example one

In [15]:
exampleTwo = ['Sasha', 'Sophia', 'Lydia', 'Veronica']
print(exampleTwo)
exampleTwo.extend(example)
print(exampleTwo)

['Sasha', 'Sophia', 'Lydia', 'Veronica']
['Sasha', 'Sophia', 'Lydia', 'Veronica', 'ty', 'john', 'brad', 'samuel', 'george']

### insert(position, 'element') will add an element at a specified index position, here I am adding the name Frank to the beginning of the first list

In [16]:
example.insert(0, 'Frank')
example

['Frank', 'ty', 'john', 'brad', 'samuel', 'george']

### remove() will remove the first element with the specified value, now I will remove Frank

In [17]:
print(example)
example.remove('Frank')
print(example)

['Frank', 'ty', 'john', 'brad', 'samuel', 'george']
['ty', 'john', 'brad', 'samuel', 'george']

### count will return the number of elements with a specified value

In [18]:
numbers = [1,1,1,2,3,4,6,2,2,6,2]
numbers.count(2)

4

### index will return the index of the first element with the specified value. I will be finding out which index position john is in

In [19]:
example.index('john')

1

### pop() will either remove the last element of the list if left empty, or remove an element at a specified position

In [21]:
print(exampleTwo)
exampleTwo.pop()
print(exampleTwo)
# will remove george since in last position
exampleTwo.pop(0)
print(exampleTwo) #removes sophia at index 0

['Sasha', 'Sophia', 'Lydia', 'Veronica', 'ty', 'john', 'brad', 'samuel']
['Sasha', 'Sophia', 'Lydia', 'Veronica', 'ty', 'john', 'brad']
['Sophia', 'Lydia', 'Veronica', 'ty', 'john', 'brad']

### sorted() will sort a list temporarily

In [24]:
sort = [10,5,2,3,0,28]
sorted(sort)

[0, 2, 3, 5, 10, 28]

### copy() returns the copy of a list. Use [ : ] so it will not mess up when adding more to the original list

In [26]:
copyOne = [1,2,4,8,16]
copyTwo = copyOne[:]
print(copyTwo)
copyOne.append(32)
print(copyOne, copyTwo)

[1, 2, 4, 8, 16]
[1, 2, 4, 8, 16, 32] [1, 2, 4, 8, 16]

### clear will remove all elements from a list

In [28]:
copyOne.clear()
copyOne

[]

### list() will create a list object

In [46]:
var = 'hello', 'goodbye'
print(var)
list(var)

('hello', 'goodbye')

['hello', 'goodbye']

### len() will return the length within a list or tuple

In [47]:
tupleTwo = (1,2,3,4,5)
listThree = (2,4,6)
print(len(tupleTwo),',',len(listThree))

5 , 3

### max() will provide the maximum value within a list or tuple, while min() will provide the minimum

In [48]:
data = [12,54,67,10,112,46,40]
print(max(data))
print(min(data))

112
10